.heading2Xl {
  font-size: 2.7rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.mainContent {
  width: 100%;
  max-width: 1000px;
  padding: 30px 40px;
  margin: auto;
}

.jumbotron {
  width: 100%;
  padding: 24px 100px;
  background-color: #2d2d2d;
  color: var(--white);
  border-radius: 10px;
}

.jumbotron a {
  color: #98c2f3;
}

.jumbotron a:hover {
  text-decoration: underline;
}

.backColor1 {
  background-color: var(--primary-dark);
}

.backColor2 {
  background-color: var(--primary);
}
.backColor3 {
  background-color: var(--primary-light);
}

.backColor4 {
  background-color: var(--accent);
}

.backColor5 {
  background-color: var(--accent-light);
}

.backColor6 {
  background-color: var(--gray);
}

@media screen and (max-width: 750px) {
	.jumbotron {
		border-radius: 0;
		padding: 16px 50px;
	}
}

@media screen and (max-width: 750px) {
	.jumbotron {
		padding: 12px 30px;
	}
}

